#!/usr/bin/env bash

# general tool aliases
alias mv='mv -iv' # safe mv (asks before overwrite, verbose)
alias mkdir='mkdir -p' # make parent dirs as needed
alias ll='ls -lh' # detailed ls
alias la='ls -a' # list all

alias cp='cp -iv' # safe cp (asks before overwrite, verbose)

alias grep='grep --color=auto'

# Usage: mv oldfilename
# If you call mv without the second parameter it will prompt you to edit the filename on command line.
# Original mv is called when it's called with more than one argument.
# It's useful when you want to change just a few letters in a long name.
function imv() {
  if [ "$#" -ne 1 ]; then
    command mv "$@"
    return
  fi
  if [ ! -f "$1" ]; then
    command file "$@"
    return
  fi

  read -ei "$1" newfilename
  mv -v "$1" "$newfilename"
}

# shortcuts
alias sbp='source ~/.bash_profile; echo ".bash_profile updated"'
alias szrc='source ~/.zshrc; echo ".zshrc updated"'

# fun/useful-ish

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

